:root{
     
    --bg-page: #f6f6f4;
    --bg-card: #BCC2B4;
    --bg-button: #162c17;
    
    /* fonts colors*/
    --text-main: #162c17;
    --text-soft: #182c1d;
    --text-white: #FFFFFF;
    
    /* brand colors */
    --brand-green-muted: #d3e8d3;
    --brand-green-vibrant: #b3cdb4;
    --brand-sand: #9B835F;

    /*Utilies and state */
    --action-hover: #575D47;
    --white-pure: #FFFFFF;
    /* Font-size */
    --fs-body-sm: 14px;
    --fs-body:    16px;
    --fs-body-lg: 28px;   
    --fs-subtitle-sm: 14px;
    --fs-subtitle:    16px;
    --fs-subtitle-lg: 28px;   
    /* Font-wight */
    --fw-thin:       100;
    --fw-extralight: 200;
    --fw-light:      300;
    --fw-regular:    400;
    --fw-medium:     500;
    --fw-semibold:   600;
    --fw-bold:       700;
    --fw-extrabold:  800;
    --fw-black:      900;
    /* padding */
    --pd-left-right: 3rem;
    --pd-top-bottom: 1.5rem;
    --pd-left: 3rem;
    --pd-right: 3rem;
    --pd-top: 1.5rem;
    --pd-bottom: 1.5rem;
    /* border-radius */
    --radius-none: 0px;
    --radius-sm:   4px;
    --radius-md:   8px;
    --radius-lg:   12px;
    --radius-xl:   16px;
    --radius-2xl:  24px;
    --radius-full: 9999px;
    --radius-xs:   2px;
    /* shadows */
    --shadow-br: 4px 4px 12px -3px rgba(0,0,0,0.89);
}

body{
    background-color:var(--bg-page);
}
.main-header{
    padding:var(--pd-top-bottom) var(--pd-left-right);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--text-soft);
    font-weight:var(--fw-bold);

    
    & .navbar-links{
        display: flex;
        flex-direction: row; 
        gap: 3rem; 
        font-size: 28px;
    }
    & .navbar-access{
        display: flex;
        flex-direction: row;
        gap: 1rem; 
    }
}

.hero {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: .8rem;
    /* align-items: center;
    justify-content: space-between; */
    padding: var(--pd-top) 0 var(--pd-bottom) var(--pd-left)  ;
    
    & .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 0 0 var(--pd-bottom) 0;
        
        
        & .hero-text-group {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            text-align: left;
            color: var(--text-main);

            

            & .hero-headline {
                font-size: 75px;
            }
            & .hero-body {
                font-size: 28px;

            }
        }
        & .cta-container{
            /* background-color: #9B835F; */
            padding-right: 5.5rem;
            width: 100%;
            text-align: center;
            & .hero-cta {
                background-color: var(--bg-button);
                color: var(--text-white);
                border-radius: 999px;
                padding: 11px 80px;
                font-size: 20px;
            }
        }


    }

    & .hero-media {
        background-color: var(--brand-green-vibrant);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        border-radius: 1090px 0px 0px 1090px;
        & .hero-img {
            width: fit-content;
            height: fit-content;

        }
    }
}

.key-benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: calc(var(--pd-top) * 3) 0 calc(var(--pd-bottom) * 3) 0;

    & .benefits {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

       & svg{
         width: 50px;
         height: 50px;
       }

       & .text-benefits {
        font-size: var(--fs-body-lg);
       }
    }
}

.main-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .subtitle {
        font-size: calc(var(--fs-subtitle-lg) * 2);
        color:var(--text-main)

    }

    & .container-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;

        & .card {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: center;
            align-items: center;
            & .img {
                border-radius: var(--radius-lg);
                box-shadow: var(--shadow-br);
            }
            & .feet-info {
                font-size: var(--fs-body-lg);
                color: var(--text-main);
                
                & a {
                    display: flex;
                    flex-direction: row;
                    color: var(--text-main);
                    gap: .5rem;
                    
                    & svg {
                        color: var(--text-main);
                    }
                }
            }
        }
    }
}